version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    # Allow up to 2 open pull requests at a time
    open-pull-requests-limit: 2
    ignore:
      # tensorboard requires protobuf < 4
      - dependency-name: "protobuf"
      # segmentation-models-pytorch requires older timm, can't update
      - dependency-name: "timm"
