version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      # codecov-action 4 is not compatible with forks
      # https://github.com/codecov/feedback/issues/126
      # https://github.com/codecov/feedback/issues/273
      - dependency-name: "codecov/codecov-action"
  - package-ecosystem: "pip"
    directory: "/requirements"
    schedule:
      interval: "daily"
    ignore:
      # setuptools releases new versions almost daily
      - dependency-name: "setuptools"
        update-types: ["version-update:semver-patch"]
      # sphinx 6 is incompatible with pytorch-sphinx-theme
      # https://github.com/pytorch/pytorch_sphinx_theme/issues/175
      - dependency-name: "sphinx"
      # segmentation-models-pytorch pins timm, must update in unison
      - dependency-name: "timm"
      # torchvision pins torch, must update in unison
      - dependency-name: "torch"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
