version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/requirements"
    schedule:
      interval: "daily"
    ignore:
      # radiant-mlhub 0.5+ changed download behavior:
      # https://github.com/radiantearth/radiant-mlhub/pull/104
      - dependency-name: "radiant-mlhub"
      # setuptools releases new versions almost daily
      - dependency-name: "setuptools"
        update-types: ["version-update:semver-patch"]
      # segmentation-models-pytorch requires older timm, can't update
      - dependency-name: "timm"
