[flake8]
max-line-length = 88
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
exclude =
    # Data
    data/,

    # Spack
    .spack-env/,

    # Python
    .cache/
    .pytest_cache/,
    __pycache__/,

    # Git
    .git/,
application-import-names = torchgeo
import-order-style = google
