repos:
    -   repo: https://github.com/asottile/pyupgrade
        rev: v3.3.1
        hooks:
        -   id: pyupgrade
            args: [--py39-plus]

    -   repo: https://github.com/pycqa/isort
        rev: 5.12.0
        hooks:
        -    id: isort
             additional_dependencies: ['.[colors]']

    -   repo: https://github.com/psf/black
        rev: 23.1.0
        hooks:
        -   id: black
            args: [--skip-magic-trailing-comma]

    -   repo: https://github.com/pycqa/flake8.git
        rev: 6.0.0
        hooks:
        -   id: flake8

    -   repo: https://github.com/pycqa/pydocstyle
        rev: 6.3.0
        hooks:
        -   id: pydocstyle
            exclude: (tests|docs|experiments)
            additional_dependencies: ['.[toml]']

    -   repo: https://github.com/pre-commit/mirrors-mypy
        rev: v1.0.1
        hooks:
        -   id: mypy
            args: [--strict, --ignore-missing-imports, --show-error-codes]
            additional_dependencies: [torch>=2, torchmetrics>=0.10, lightning>=2.0.3, pytest>=6.1.2, pyvista>=0.29, omegaconf>=2.0.1, hydra-core>=1, kornia>=0.6.5, numpy>=1.22]
            exclude: (build|data|dist|logo|logs|output)/
