repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types_or:
          - python
          - jupyter
        args:
          - --fix
      - id: ruff-format
        types_or:
          - python
          - jupyter
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args:
          - --strict
          - --ignore-missing-imports
          - --show-error-codes
        additional_dependencies:
          - einops>=0.6.0
          - kornia>=0.6.9
          - lightning>=2.0.9
          - matplotlib>=3.9.2
          - numpy>=1.22
          - pillow>=10.4.0
          - pytest>=6.1.2
          - scikit-image>=0.22.0
          - torch>=2.3
          - torchmetrics>=0.10
          - torchvision>=0.18
        exclude: (build|data|dist|logo|logs|output)/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        language: node
        language_version: 22.0.0
        args:
          - --write
        exclude: ^tests/data/[^/]+/$
