affine
black[colorama]>=21b
flake8
h5py
isort[colors]>=4.3.5
mypy>=0.900
numpy
opencv-python
pillow
pycocotools
pydocstyle[toml]>=6.1
pytest>=6.0
pytest-cov
pytorch-lightning
git+https://github.com/pytorch/pytorch_sphinx_theme
radiant-mlhub>=0.2.1
rarfile
rasterio>=1.0
rtree>=0.5.0
scikit-learn
segmentation-models-pytorch
setuptools>=42
sphinx
torch>=1.7
torchvision>=0.3,!=0.10.0
