# This dependency must be installed in "editable mode" in this directory,
# otherwise Sphinx is unable to find static files like fonts:
#
# https://github.com/pytorch/pytorch_sphinx_theme/issues/143
#
# All other documentation dependencies can be found in
# setup.cfg and requirements/docs.txt

-e git+https://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
