# ipywidgets 7+ required for nbsphinx
ipywidgets>=7
# nbmake 0.1+ required to fix path_source bug
nbmake>=0.1
# nbsphinx 0.8.5 fixes bug with nbformat attributes
nbsphinx>=0.8.5
# release versions missing files, must install from master
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
# sphinx 3+ required for autodoc_typehints = description
sphinx>=3,!=4.1.2
