name: coverage
on:
  workflow_run:
    workflows: [tests]
    types: [completed]
jobs:
  codecov:
    name: codecov
    runs-on: ubuntu-latest
    needs: [pytest, minimum]
    steps:
    - name: Clone repo
      uses: actions/checkout@v4.1.1
    - name: Download coverage artifacts
      uses: actions/download-artifact@v4.1.1

    - name: Report coverage
      uses: codecov/codecov-action@v4.0.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
