# TODO: it should be possible to test documentation builds directly on Read the Docs:
# https://docs.readthedocs.io/en/stable/pull-requests.html
name: docs
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  pydocstyle:
    name: pydocstyle
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install pip dependencies
      run: pip install .[style]
    - name: Run pydocstyle checks
      run: pydocstyle
  sphinx:
    name: sphinx
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install apt dependencies
      run: sudo apt-get install pandoc
    - name: Install pip dependencies
      run: |
        pip install .[train]
        pip install -r docs/requirements.txt
    - name: Run sphinx checks
      run: cd docs && make html
