name: release
on:
  push:
    branches:
    - release**
  pull_request:
    branches:
    - release**
jobs:
  notebooks:
    name: notebooks
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install apt dependencies
      run: |
        sudo apt-add-repository ppa:ubuntugis/ubuntugis-unstable
        sudo apt-get update
    - name: Install pip dependencies
      run: |
        pip install .[datasets,tests]
        pip install -r docs/requirements.txt
    - name: Run notebook checks
      env:
        MLHUB_API_KEY: ${{ secrets.MLHUB_API_KEY }}
      run: pytest --nbmake docs/tutorials
  integration:
    name: integration
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install pip dependencies
      run: pip install .[datasets,tests]
    - name: Run integration checks
      run: pytest -m slow
