name: release
on:
  push:
    branches:
    - release**
  pull_request:
    branches:
    - release**
jobs:
  datasets:
    name: datasets
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install pip dependencies
      run: |
        pip install .[tests]
        pip list
    - name: Run pytest checks
      run: pytest --cov=torchgeo --cov-report=xml
  integration:
    name: integration
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install pip dependencies
      run: |
        pip install .[datasets,tests]
        pip list
    - name: Run integration checks
      run: pytest -m slow
  notebooks:
    name: notebooks
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install pip dependencies
      run: |
        pip install .[datasets,docs,tests]
        pip list
    - name: Run notebook checks
      env:
        MLHUB_API_KEY: ${{ secrets.MLHUB_API_KEY }}
      run: pytest --nbmake docs/tutorials
