name: release
on:
  push:
    branches:
    - release**
  pull_request:
    branches:
    - release**
jobs:
  datasets:
    name: datasets
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v3.5.2
    - name: Set up python
      uses: actions/setup-python@v4.5.0
      with:
        python-version: '3.10'
    - name: Cache dependencies
      uses: actions/cache@v3.3.1
      id: cache
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ env.pythonLocation }}-${{ hashFiles('setup.cfg') }}
    - name: Install pip dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        pip install .[tests]
        pip list
    - name: Run pytest checks
      run: pytest --cov=torchgeo --cov-report=xml --durations=10
  integration:
    name: integration
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v3.5.2
    - name: Set up python
      uses: actions/setup-python@v4.5.0
      with:
        python-version: '3.10'
    - name: Cache dependencies
      uses: actions/cache@v3.3.1
      id: cache
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ env.pythonLocation }}-${{ hashFiles('setup.cfg') }}
    - name: Install pip dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        pip install .[datasets,tests]
        pip list
    - name: Run integration checks
      run: pytest -m slow --durations=10
  notebooks:
    name: notebooks
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v3.5.2
    - name: Set up python
      uses: actions/setup-python@v4.5.0
      with:
        python-version: '3.10'
    - name: Cache dependencies
      uses: actions/cache@v3.3.1
      id: cache
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ env.pythonLocation }}-${{ hashFiles('setup.cfg') }}
    - name: Install pip dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        pip install .[docs,tests] planetary_computer pystac pytest-rerunfailures
        pip list
    - name: Run notebook checks
      run: pytest --nbmake --durations=10 --reruns=10 docs/tutorials
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
