name: tests
on:
  push:
    branches:
    - main
    - release**
  pull_request:
    branches:
    - main
    - release**
jobs:
  mypy:
    name: mypy
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install pip dependencies
      run: |
        pip install -r requirements/required.txt -r requirements/datasets.txt -r requirements/tests.txt
        pip list
    - name: Run mypy checks
      run: mypy .
  pytest:
    name: pytest
    runs-on: ${{ matrix.os }}
    env:
      MPLBACKEND: Agg
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10']
        exclude:
        - os: windows-latest
          python-version: '3.7'
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install apt dependencies (Linux)
      run: sudo apt-get install unrar
      if: ${{ runner.os == 'Linux' }}
    - name: Install brew dependencies (macOS)
      run: brew install rar
      if: ${{ runner.os == 'macOS' }}
    - name: Install pacman dependencies (Windows)
      shell: cmd
      run: |
        set "PATH=%PATH%;c:\msys64\usr\bin"
        pacman -S --noconfirm --needed unrar
      if: ${{ runner.os == 'Windows' }}
    - name: Install pip dependencies (3.8+)
      run: |
        pip install -r requirements/required.txt -r requirements/datasets.txt -r requirements/tests.txt
        pip list
      if: ${{ matrix.python-version != '3.7' }}
    - name: Install pip dependencies (3.7)
      run: |
        pip install -r requirements/required.old -r requirements/datasets.old -r requirements/tests.txt
        pip list
      if: ${{ matrix.python-version == '3.7' }}
    - name: Run pytest checks (Linux/macOS)
      run: pytest --cov=torchgeo --cov-report=xml
      if: ${{ runner.os != 'Windows' }}
    - name: Run pytest checks (Windows)
      shell: cmd
      run: |
        set "PATH=%PATH%;c:\msys64\usr\bin"
        pytest --cov=torchgeo --cov-report=xml
      if: ${{ runner.os == 'Windows' }}
    - name: Report coverage
      uses: codecov/codecov-action@v2
  minimum:
    name: minimum
    runs-on: ubuntu-latest
    env:
      MPLBACKEND: Agg
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'
    - name: Install apt dependencies (Linux)
      run: sudo apt-get install libgeos-dev libhdf5-dev unrar
    - name: Install pip dependencies
      run: |
        pip install cython numpy==1.17.2  # needed by pycocotools
        pip install -r requirements/min.old
        pip list
    - name: Run pytest checks
      run: pytest --cov=torchgeo --cov-report=xml
    - name: Report coverage
      uses: codecov/codecov-action@v2
