name: tutorials
on:
  push:
    branches:
    - main
    paths:
    - docs/tutorials/**
  pull_request:
    branches:
    - main
    paths:
    - docs/tutorials/**
jobs:
  notebooks:
    name: notebooks
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v3.5.2
    - name: Set up python
      uses: actions/setup-python@v4.5.0
      with:
        python-version: '3.10'
    - name: Cache dependencies
      uses: actions/cache@v3.3.1
      id: cache
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ env.pythonLocation }}-${{ hashFiles('setup.cfg') }}
    - name: Install pip dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        pip install .[docs,tests] planetary_computer pystac pytest-rerunfailures
        pip list
    - name: Run notebook checks
      run: pytest --nbmake --durations=10 --reruns=10 docs/tutorials
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
